<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366669196040-litgtmdj4rdnqofnvjord0sqmm9incsi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366669196040-litgtmdj4rdnqofnvjord0sqmm9incsi</string>
	<key>API_KEY</key>
	<string>AIzaSyDDFvp3J2CXAh6nkIpc9l6ygJSHnHBfW6I</string>
	<key>GCM_SENDER_ID</key>
	<string>366669196040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.magazine.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>delevery-app-b8407</string>
	<key>STORAGE_BUCKET</key>
	<string>delevery-app-b8407.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366669196040:ios:9fc770fd3f600b8be35abd</string>
</dict>
</plist>